body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #007BFF;
    color: white;
}

header h1 {
    font-size: 36px;
}

header h2 {
    font-size: 24px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: white;
}

.feature {
    text-align: center;
}

.feature img {
    width: 100px;
    height: 100px;
}

.feature h3 {
    font-size: 20px;
    margin: 10px 0;
}

.feature p {
    font-size: 16px;
}

.cta {
    text-align: center;
    background-color: white;
    padding: 50px 0;
}

.cta h2 {
    font-size: 36px;
}

.cta p {
    font-size: 20px;
    margin: 20px 0;
}

button {
    background-color: #007BFF;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    transform: scale(1.02);
}
button a{
    text-decoration: none;
    color: white;

}
.app-links {
    margin: 20px 0;
}

.app-links a {
    margin: 0 10px;
}

.contact {
    text-align: center;
    background-color: white;
    padding: 50px 0;
}

.contact h2 {
    font-size: 36px;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    font-size: 20px;
    margin: 10px 0;
}

.icon-attribute{
    font-size: 10px;

}
